* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* LANDING PAGE */
body.landingPage {
  display: grid;
  height: 100vh;
  align-content: center;
  justify-content: center;
}

.landingPage .mainContainer {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landingPage .mainContainer a {
  border: 1px solid green;
  text-decoration: none;
  color: green;
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.landingPage .mainContainer a:hover {
  background-color: lightgreen;
}

/* NEW-POLL . HTML */
.newPollMain {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.searchForm {
  gap: 1rem;
}

#searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#searchForm label,
#searchForm button {
  margin-top: 0.5rem;
}

.resultsContainer {
  width: clamp(350px, 450px, 600px);
}

#pollOptions {
  border: 3px dotted blue;
  min-height: 200px;
  width: clamp(350px, 450px, 600px);
}

.option {
  display: block;
  cursor: pointer;
}

.option:hover {
  color: blue;
  background-color: gray;
}
